#about__me {
	width: 100vw - 20vw;
	margin: auto;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 50% 50%;
	// overflow: hidden;
	
	@include lg {
		width: 100vw - 10vw;
	}

	@include tb {
		overflow: visible;
		max-height: none;
		display: block;
		width: 100vw - 5vw;
	}

	.text {
		// margin-top: 4em;
		height: max-content;




		@include tb {
			width: 90%;
			margin: auto;
		}

		@include ml {
			width: 100%;
			margin: auto;
		}
		h1 {
			font-family: $font;
			font-weight: $regular;
			font-size: $responsive__font;
			--max-font: 80;
			--min-font: 60;
			text-transform: lowercase;
			// width: 80vw;
			// margin: auto;
			white-space: nowrap;
			margin-bottom:.5em;

			@include ml {
				margin-bottom:.5em;
				margin-left: 0;
			}

			@include tb {
				margin-bottom:.5em;
				margin-left: 0;
			}

			span {
				font-weight: $bold;
			}

			.half-bg {
				background-image: linear-gradient(to right, transparent 50%, #ffc600 50%);
				background-origin: 0;
				background-size: 200% 40%;
				background-repeat: repeat-x;
				background-position: -100% 100%;
				transition: background-position 0.5s;
			}
		}

		.inner {
			display: flex;
			flex-direction: column;
			height: 100%;
			// max-width: 70%;
			justify-content: center;
	
			// margin-top: 3em;
			font-family: $font;

			

			@include ml {
				max-width: 100%;
				margin-right: 0;
			}

			h2 {
				font-size: $responsive__font;
				--max-font: 40;
				--min-font: 40;
				white-space: nowrap;

		


				@include mm {
					white-space: normal;
				}
			}

			h3 {
				margin-top: 1em;
				font-size: $responsive__font;
				--max-font: 20;
				--min-font: 20;
				white-space: nowrap;
				opacity: 1;
				text-transform: uppercase;
				font-weight: $bold;
				margin-bottom: .3em;
			}

			

			p {
				font-size: $responsive__font;
				--max-font: 20;
				--min-font: 20;
				opacity: 1;
line-height: 1.3;
				@include tb{
					width: 100%;
					}

				@include ml {
					width: 100%;
				}
			}
ul {
	margin-top: .5em;
	font-weight: $bold;
	line-height: 1.3;
}
			.socials {
				margin-top: 1em;
				font-size: 1.2em;
				white-space: nowrap;
				cursor: pointer;
				
				

				@include lg {
					white-space: normal;
				}


				@include tb{
				width: 110%;
				margin-bottom: 2em;
				}

				@include ml {
					white-space: normal;
				}

				span {
					// opacity: .5;
					transition: opacity .2s ease-in;
					margin-right: .5em;
					
					&:hover {
						opacity: 1;
						transition: opacity .2s ease-in;
					}

					@include lg{
						display: block;
						width: max-content;
						margin-bottom: 1em;
					}

					@include tb{
						display: inline;
						// width: max-content;
						margin-bottom: 1em;
					}

					@include ml {
						display: block;
						width: max-content;
						margin-bottom: 1em;
					}
				}

				i {
					margin-left: 1em;

					&:first-of-type {
						margin-left: 0;
					}

					&:hover {
						background-position: -100% 100%;
						transition: background-position 0.5s;
					}
				}

				.fa-linkedin {
					color: $linkedin;
				}

				.linkedin-half-bg {
					background-image: linear-gradient(to right, transparent 50%, $linkedin 50%);
					background-origin: 0;
					background-size: 200% 25%;
					background-repeat: repeat-x;
					background-position: 0 100%;
					transition: background-position 0.5s;
					// margin-right: 1em;

					&:hover {
						background-position: -100% 100%;
						transition: background-position 0.5s;
					}
				}

				.fa-codepen {
					color: $codepen;
				}

				.codepen-half-bg {
					background-image: linear-gradient(to right, transparent 50%, $codepen 50%);
					background-origin: 0;
					background-size: 200% 25%;
					background-repeat: repeat-x;
					background-position: 0 100%;
					transition: background-position 0.5s;
					// margin-right: 1em;

					&:hover {
						background-position: -100% 100%;
						transition: background-position 0.5s;
					}
				}

				.fa-instagram {
					color: $instagram;
				}

				.instagram-half-bg {
					background-image: linear-gradient(to right, transparent 50%, $instagram 50%);
					background-origin: 0;
					background-size: 200% 25%;
					background-repeat: repeat-x;
					background-position: 0 100%;
					transition: background-position 0.5s;
					// margin-right: 1em;

					&:hover {
						background-position: -100% 100%;
						transition: background-position 0.5s;
					}
						
					
				}

				.fa-youtube {
					color: $youtube;
				}

				.youtube-half-bg {
					background-image: linear-gradient(to right, transparent 50%, $youtube 50%);
					background-origin: 0;
					background-size: 200% 25%;
					background-repeat: repeat-x;
					background-position: 0 100%;
					transition: background-position 0.5s;
					// margin-right: 1em;

					&:hover {
						background-position: -100% 100%;
						transition: background-position 0.5s;
					}
				}
			}
		}
	}
	.picture {
		width: 600px;
	//  max-height: 600px;
		display: grid;
		justify-items: center;

		

		@include tb {
			width: 100%;
			max-width: 400px;
			margin-left: 2em;
		}

		@include ml {
			width: 100%;
			max-width: 300px;
			margin: auto;
		}
	}
	.picture img {
		object-position: center;
		width: 100%;
		max-width: 410px;
	}
}
