$primary-text: #2d3436;
$hover-color: #ff5e57;
$white: whitesmoke;
$bd-color: white;
$grey: #4f4f4f;
$white: #ffffff;
$green: #39bda7;
$linkedin: #0277b5;
$instagram: #e1306c;
$youtube: #ff0000;
$github: rgb(24, 24, 24);
$codepen: #8c90a0;
$transparent: rgba(255, 255, 255, 0);
$black-05: rgba(0, 0, 0, 0.05);
